body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  transition: transform 0.5s, background 0.5s;
}
.box:hover {
  transform: rotate(45deg);
  background: dodgerblue;
}

/* .container {
  perspective: 200px;
}
.container:hover .box {
  transform: rotateY(45deg);
  transform-origin: 0 50%;
  /* transform: rotate(15deg) skew(1.5deg) scale(1.5) translate(10px, 10px); 
}

.container:hover .box-special {
  transform: rotateX(45deg);
} */